/* lets start here with planning the infrastructure */ 

/*Any styling required for global elements can go here*/

/*Body styling goes here*/
.game-area {
    text-align: center;
    max-height: 100%;
}
.button-box {
    border-bottom: black solid 2px;
}

#result-text {
    height: 250px;
    padding-top: 125px;
    font-size: 50px;
}

/* page heading styling goes here*/
.page-heading {
    font-family: tahoma;
}
/*Player styling goes here*/
#player-text {
    background-color: lightblue;
    padding: 10px;
    font-size: 30px;
}
/*Button styling goes here*/
.choice-buttons {
    font-size: 30px;
    background-color: lightgrey;
    border: black solid 2px;
    margin: 10px;
}

/*Computer player styling goes here*/
#computer-text {
    background-color: lightcoral;
    padding: 10px;
    font-size: 30px;
}
/*Score styling goes here*/
