/* lets start here with planning the infrastructure */ 

/*media queries*/
@media screen and (max-width:768px) {

    .choice-buttons {
        font-size: 10px;
        background-color: lightgrey;
        border: black solid 2px;
        margin: 5px;
        border-radius: 5%;
    }
    
    .game-text {
        font-size: 15px;
    }
}
/*Body styling goes here*/
.game-area {
    text-align: center;
    max-height: 100%;
}
.button-box {
    border-bottom: black solid 2px;
}

#result-text {
    height: 250px;
    padding-top: 125px;
    font-size: 50px;
}

/* page heading styling goes here*/
.page-heading {
    font-family: tahoma;
}


/*Player styling goes here*/
#player-text {
    background-color: lightblue;
    padding: 10px;
    font-size: 30px;
}
/*Button styling goes here*/
.choice-buttons {
    font-size: 30px;
    background-color: lightgrey;
    border: black solid 2px;
    margin: 10px;
    border-radius: 5%;
}

/*Computer player styling goes here*/
#computer-text {
    background-color: lightcoral;
    padding: 10px;
    font-size: 30px;
}
/*Score styling goes here*/
.scores {
    font-size: 30px;
    font-family: 'Lucida Sans';
}